<div class="mx-auto">
    <div style="display: flex; justify-content: space-between;">
      <div><%= render 'search/form' %></div>
      <div><%= @date %></div>
    </div>
  <div class="home-container">
    <div class="location-container">
      <span class="home-location"><%=@data["name"] %></span>
    </div>
    <div class="current-temp-container"><h1 class="home-current-temp"><%=@temp %>c</h1></div>
    <div class="home-container3">
      <div class="weather-icon">
        <img
          alt="image"
          src="https://play.teleporthq.io/static/svg/default-img.svg"
          class="dashboard-image"
        />
      </div>
      <div class="weather-icon">
        <img
          alt="image"
          src="https://play.teleporthq.io/static/svg/default-img.svg"
          class="dashboard-image"
        />
      </div>
      <div class="weather-icon">
        <img
          alt="image"
          src="https://openweathermap.org/img/wn/<%= @data["weather"][0]["icon"] %>@2x.png"
          class="dashboard-image"
        />
      </div>
      <div class="weather-icon">
        <img
          alt="image"
          src="https://play.teleporthq.io/static/svg/default-img.svg"
          class="dashboard-image"
        />
      </div>
      <div class="weather-icon">
        <img
          alt="image"
          src="https://play.teleporthq.io/static/svg/default-img.svg"
          class="dashboard-image"
        />
      </div>
    </div>
    <div class="home-container4">
      <div class="weather-data">
        <span class="text-center">
          <span><%=@data["clouds"]["all"]%> %</span>
          <br />
        </span>
      </div>
      <div class="weather-data"><span><%=@data["main"]["humidity"]%> %</span></div>
      <div class="home-conditions-data">
        <div class="home-description">
          <span>
            <span><%=@data["weather"][0]["description"]%></span>
            <br />
          </span>
        </div>
        <div class="home-container5">
          <div class="home-container6">
            <span class="home-text07">L: <%=@temp_low %></span>
          </div>
          <div class="home-container7">
            <span class="text-right justify-end">H: <%=@temp_high %></span>
          </div>
        </div>
      </div>
      <div class="weather-data">
        <span>
          <span><%=@wind_speed %>kph</span>
          <br />
        </span>
      </div>
      <div class="weather-data">
        <span class="text-center"><%=@rain%></span>
      </div>
    </div>
  </div>
</div>